@import "reset";

// My variables
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);
$shadow: rgba(96, 156, 184, 0.2) 0px 20px 16px -5px,
  $very-light-gray 0px 4px 6px -2px;

// Mixins
@mixin set-grid-area($row-start, $column-start) {
  grid-area: #{$row-start}/#{$column-start}/ span 2;
}
@mixin set-top-line($color) {
  div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.25rem;
    background-color: $color;
  }
}

// Some utility classes
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.text-center {
  text-align: center;
}

// Base classes
body {
  font-size: 0.8125rem;
  font-weight: 400;
  font-family: "Poppins";
  color: $very-dark-blue;
  background-color: $very-light-gray;
}
h1 {
  font-weight: 200;
  font-size: 2.1875rem;
  padding-bottom: 0.125rem;
}
h2 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.2;
}
h3 {
  font-size: 1.225rem;
  font-weight: 600;
}
p {
  font-weight: 400;
  color: $grayish-blue;
}

main {
  min-height: 57.625rem;
  margin: 2.5rem 1.25rem;
  .title-container {
    max-width: 33.75rem;
    p {
      padding-bottom: 3.9375rem;
      padding-top: 1.375rem;
      font-size: 0.96875rem;
      line-height: 1.6;
    }
  }

  .articles-section {
    row-gap: 1.875rem;
    column-gap: 1.875rem;
    max-width: fit-content;
    article {
      padding: 2rem;
      max-width: 21.875rem;
      min-height: 15.625rem;
      border-radius: 0.3125rem;
      box-shadow: $shadow;
      background-color: white;
      overflow: hidden;
      position: relative;
      &.supervisor {
        @include set-top-line($cyan);
      }
      &.builder {
        @include set-top-line($red);
      }
      &.karma {
        @include set-top-line($orange);
      }
      &.calculator {
        @include set-top-line($blue);
      }
      p {
        line-height: 1.75;
        font-size: 0.8125rem;
        padding-top: 0.53125rem;
        padding-bottom: 0;
      }
    }
  }
}

// Media querry

@media (min-width: 42.5rem) {
  main {
    margin: 0 1.25rem;
  }
  .articles-section {
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    .builder {
      @include set-grid-area(1, 2);
    }
    .karma {
      @include set-grid-area(3, 2);
    }
    .supervisor {
      @include set-grid-area(2, 1);
    }
    .calculator {
      @include set-grid-area(2, 3);
    }
  }
}
